{#------------------------------------------------------------------------------------------------------#}
{# Heading, Titel des Blog                                                                              #}
{# -----------------------                                                                              #}
{# Baut eine Kopfzeile mit dem Titel des Blog aus der config.yaml auf.                                  #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Heading -->
    <div class="container-fluid _bg-primary py-3 text-light" style="background: linear-gradient(120deg, #ba26ae, #1d2d9c);">
        <div class="container">
            <h1><a href="/" class="text-light fw-bold">{{site_title}}</a></h1>
        </div>
    </div>
<!-- Heading -->
