{#------------------------------------------------------------------------------------------------------#}
{# Heading, Titel aktuellen Seite                                                                       #}
{# ------------------------------                                                                       #}
{# Baut eine Kopfzeile mit dem Titel der aktuell geladenen Seite auf.                                   #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Heading -->
<div class="container-fluid bg-primary py-3 text-light shadow-lg" style="background: linear-gradient(120deg, #ba26ae, #1d2d9c);">
    <div class="container">
        <h1><a href="/" class="text-light fw-bold">{{current_page.title}}</a></h>
    </div>
</div>
<!-- Heading -->
