{#------------------------------------------------------------------------------------------------------#}
{# Content des Index                                                                                    #}
{# -----------------                                                                                    #}
{# Baut den Content der Index, Home Seite auf.                                                          #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Content -->
    <div class="container py-5">
        <article>
            <h2>{{current_page.title}}</h2>
            <p class="lead">{{current_page.description}}</p>
            {{content}}
        </article>
    </div>
<!-- Content -->
