<!DOCTYPE html>
<html>
    {% include 'modules/html-head.twig' %}
<body class="fs-5 bg-dark text-light">

    {% include 'modules/heading-current-page.twig' %}

    {% include 'modules/breadcrumb-navigation.twig' %}

    {% include 'modules/post-content.twig' %}

    {% include 'modules/footer.twig' %}

</body>
</html>
